<md-card class="example-card" >
      <div>
      <img md-card-image src="https://image.tmdb.org/t/p/w500{{listarray.results[i].poster_path}}">
      </div>
      <div>
        <md-card-content>
          <p class="title">
              Title - <label>{{listarray.results[i].title}}</label>
              Title - <label>{{listarray.results[i].title}}</label>
              Title - <label>{{listarray.results[i].title}}</label>
              Title - <label>{{listarray.results[i].title}}</label>
              Title - <label>{{listarray.results[i].title}}</label>
              Title - <label>{{listarray.results[i].title}}</label>
              Title - <label>{{listarray.results[i].title}}</label>
          </p>
      
      </md-card-content> 
        </div>
        <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
</md-card>