
<md-toolbar color="primary">
  
  <!--Header-->
  <span>{{title}}</span>
  <span class="example-spacer"></span>


  <!--Tabs-->
  <md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      Dashboard
    </ng-template>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>thumb_up</md-icon> 
      Favourites
    </ng-template>
  </md-tab>
  </md-tab-group>
   <span class="example-spacer"></span>

  
  <!--Autocomplete-->
    <!--<md-input-container>
      <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    </md-input-container>   
    <span class="example-spacer"></span>-->


  <!--Toggle-->
   <md-slide-toggle>Filter by Genre</md-slide-toggle>
   
</md-toolbar>



<!--grids-->
<div class="container">
<md-grid-list cols="5" rowHeight="1:1" >
  <md-grid-tile >

    <md-card class="example-card">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -1 
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>
    <md-grid-tile >

    <md-card class="example-card">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -2
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>
  <md-grid-tile >

    <md-card class="example-card">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -3
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>
    <md-grid-tile >

    <md-card class="example-card">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -4
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>
    <md-grid-tile >

    <md-card class="example-card">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -5
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>

</md-grid-list>
</div>

  <!--Search-->
    
  <md-input-container class="searchbar" >
    <input mdInput class="search" #movie placeholder="Search by Movie Name" />
  </md-input-container>
<button class = "searchbutton" type="submit" (click)="search(movie.value); movie.value=''" >Search</button>
