

 <md-toolbar color="primary">
  
  <!--Header-->
  <span>{{title}}</span>
 
    <span class="example-spacer"></span> 

<!-- Tabs -->
<!-- <div > -->
  
  <md-tab-group class = "tabs">
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>dashboard</md-icon>
      Dashboard
    </ng-template>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>thumb_up</md-icon> 
      Favourites
    </ng-template>
  </md-tab>
  </md-tab-group>

<!-- </div> -->
 <span class="example-spacer"></span> 

  <!--Toggle-->
   <!-- <md-slide-toggle>Filter by Genre</md-slide-toggle> -->
   
</md-toolbar>
  
    

<movie-search></movie-search>
<dashboard-component></dashboard-component>
<router-outlet></router-outlet>
<!-- <movie-list-component></movie-list-component> -->

<!-- <movie-list-component></movie-list-component> -->
