 /* .container{
    margin: auto;
    height: fit-content;
    padding-top: 100px;
     background-color: whitesmoke; 
      background-image: url('../../assets/moviecollage.jpg');  
}

.example-card{
    margin: 50px;
    height: 380px;
    width: 400px;
    padding: 15px;
}

.image{
    height: 100px;
    width: 200px;
}
*/

.title{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}  

.example-card {
  width: 300px;
  margin: 50px;
}

.example-header-image {
  background-image: url('../../assets/movie.jpg');
  background-size: cover;
}