
<!--grids-->
<div class="container">
<md-grid-list cols="5" rowHeight="1:1" >
  <md-grid-tile >

    <md-card class="example-card" (click) = "details()">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -1 
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button >
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>
    <md-grid-tile >

    <md-card class="example-card" (click) = "details()">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -2
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>
  <md-grid-tile >

    <md-card class="example-card" (click) = "details()">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -3
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>
    <md-grid-tile >

    <md-card class="example-card" (click) = "details()">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -4
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>
    <md-grid-tile >

    <md-card class="example-card" (click) = "details()">
      <img md-card-image src="assets/movie.jpg">
      <md-card-content>
        <p>
          Movie -5
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>
          <md-icon>star</md-icon>Rate
        </button>
        
        <button md-button>
          <md-icon>brush</md-icon>Review
        </button>
      </md-card-actions>
    </md-card>
    
  </md-grid-tile>

</md-grid-list>
</div>