<md-card class="card">
<md-card-content>
<form>
    <md-toolbar color="primary">
    <md-card-title> Feedback Form </md-card-title>
    </md-toolbar>
    <div layout = "column">
        <md-input-container class="full-width">
            <input mdInput placeholder="Full Name" name="fullName">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput placeholder="Gender" name="gender">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput placeholder="College" name="collegeName">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput placeholder="Internship Company" name="internshipCompanyName">
        </md-input-container>
        <md-input-container class="full-width">
            <textarea mdInput placeholder="Reviews" name="review"></textarea>
        </md-input-container>
        <button md-raised-button>
            <md-icon>save</md-icon> Save</button>
    </div>
</form>
</md-card-content>
<md-card-actions>
    
</md-card-actions>
</md-card>