<md-card class="card">
<md-card-content>
<form>
    <md-toolbar color="primary">
    <md-card-title> Feedback Form </md-card-title>
    </md-toolbar>
    <div layout = "column">
        <md-input-container class="full-width">
            <input mdInput placeholder="Full Name" >
        </md-input-container>
            <md-radio-group class="radio-group">    
                <label>Gender: </label>
                <md-radio-button class="radio-button" *ngFor="let option of genders" [value]="option">
                {{option}}
                </md-radio-button>
            </md-radio-group>
        <md-input-container class="full-width">
            <input mdInput placeholder="College" >
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput placeholder="Internship Company" >
        </md-input-container>
        <md-input-container class="full-width">
            <textarea mdInput placeholder="Reviews"></textarea>
        </md-input-container>
        <button md-raised-button>
            <md-icon>save</md-icon> Save</button>
    </div>
</form>
</md-card-content>
<md-card-actions>
    
</md-card-actions>
</md-card>